@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Insurance App</h1>
    <p class="lead">Welcome to Car Insurace App. If you want to get a quote click below.</p>
    <p><a href="Insuree/GetQuote" class="btn btn-primary btn-lg">Get Quote &raquo;</a></p>
</div>

